<footer>
    <div class="footer-content">
        <div class="footer-left">
            <a href="#start" class="logo">
                <span class="bracket bracket-left">[</span>
                <span class="initials s">S</span>
                <span class="initials r">R</span>
                <span class="bracket bracket-right">]</span>
            </a>
            <span>©Saskia Richter 2024</span>
        </div>

        <div class="footer-right">
            <div>
                <a href="https://github.com/saskiarichter" target="_blank"><img src="./assets/img/github-white.svg" alt="github"></a>
                <a href="mailto:richter_saskia@gmx.net"><img src="./assets/img/email-white.svg" alt="mail"></a>
                <a href="https://www.linkedin.com/in/saskia-r-411bb31aa/" target="_blank"><img src="./assets/img/linkedin-white.svg" alt="linkedin"></a>
            </div>
            <a href="legalnotice">
                {{"FOOTER.notice" | translate}}
                <div></div>
            </a>
        </div> 
    </div>
</footer>