<section>
    <div class="project-image">
        <img src="{{projectImage}}" alt="join">
        <a class="overlay-border" href="{{projectLink}}" target="_blank">
            <img src="./assets/img/skills-arrow.svg" alt="arrow down">
        </a>
    </div>

    <div class="project-info">
        <h3>{{projectTitle}}</h3>
        <span class="project-skills">
            {{projectSkills}}
        </span>
        <span class="project-description">
            {{projectDescription}}
        </span>
        <a href="{{projectGithub}}" target="_blank">
            <button>Github</button>
        </a>
    </div>
</section>