<section>
    <div class="headline">
        <h1>Frontend
            <br> Developer
        </h1>
        <div class="name-container">
            <div></div>
            <span>Saskia Richter</span>
        </div>
    </div>

    <div class="bottom-container">
        <a href="#contact">richter_saskia&#64;gmx.net</a>
        <div>
            <div class="scroll-down">
                <img src="./assets/img/startpage_arrow.svg" alt="arrow down">
            </div>
            <span>Scroll
                <br>{{'HOME.scroll' | translate}}</span>
        </div>
    </div>
</section>