<section>
    <div>
        <h2>{{"IMPRINT.headline" | translate}}</h2>
        <div class="legalnotice">
            <span>{{"IMPRINT.subtitle" | translate}}</span>
            <p>Saskia Richter<br />
                Scheibenbergstr. 35<br />
                12685 Berlin<br />
                Tel: +49 162 3044978<br />
                <a href="mailto:richter_saskia@gmx.net">richter_saskia&#64;gmx.net</a>
            </p>
        </div>

        <div class="privacy">
            <h3>{{"IMPRINT.subtitle2" | translate}}</h3>

            <div>
                <h4>{{"IMPRINT.subtitle3" | translate}}</h4>
                <p>{{"IMPRINT.text1" | translate}}</p>
            </div>

            <div>
                <h4>{{"IMPRINT.subtitle4" | translate}}</h4>
                <P>{{"IMPRINT.text2" | translate}}</P>
                <P>{{"IMPRINT.text3" | translate}}</P>
                <P>{{"IMPRINT.text4" | translate}}</P>
                <P>{{"IMPRINT.text5" | translate}}</P>
                <P>{{"IMPRINT.text6" | translate}}</P>
                <P>{{"IMPRINT.text7" | translate}}</P>
            </div>
        </div>

        <p>{{"IMPRINT.text8" | translate}}<a target="_blank"
                href="http://www.hensche.de/impressum-generator.html">{{"IMPRINT.text9" | translate}}</a>{{"IMPRINT.text10" | translate}}<a target="_blank"
                href="http://www.hensche.de/Rechtsanwalt_Arbeitsrecht_Berlin.html">HENSCHE
                Rechtsanw&auml;lte,
                Berlin-Tiergarten</a>
                {{"IMPRINT.text11" | translate}}</p>
    </div>
</section>