<section>
    <h2>{{'ABOUT.headline' | translate}}</h2>

    <div class="aboutme-content">
        <div class="aboutme-text">
            <span>{{'ABOUT.text1' | translate}}
                <br><br>
                {{'ABOUT.text2' | translate}}
            </span>

            <div class="locations">
                <img src="./assets/img/house.svg" alt="house icon">
                <span>{{'ABOUT.based' | translate}}</span>
            </div>

            <div class="locations">
                <img src="./assets/img/laptop_chromebook.svg" alt="laptop icon">
                <span>{{'ABOUT.remote' | translate}}</span>
            </div>

            <div class="aboutme-button">
                <a href="#contact"><button>{{'ABOUT.contact' | translate}}</button></a>
            </div>
        </div>


        <div class="profile-image">
            <img src="./assets/img/saskia.jpg" alt="profile picture">
            <div class="overlay-border"></div>
        </div>
    </div>

</section>